<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>
  <%= flash[:recaptcha_error] %>
 
  <div class="form-inputs">
    <%= f.input :name, required: true, autofocus: true, class: "form-control" %>
    <%= f.input :email, required: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @validatable) %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :subscribed, :label => "Check this box to receive our weekly newsletter with updates on these cases and other news" %>

    <%= recaptcha_tags %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
