<!-- Total visits Last month and growth -->
    <div class="col-sm-2">
      <small>
        Recent Visits <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Recent Visits", :content => "This metric shows the number of EBWiki visitors over the past 30 days."})%>
      </small>
      <div class="metric">
        <%= @visits.count %>
      </div>
      <small>
        <%= Visit.first.mom_visits_growth %>% mom*
      </small>
    </div>
    <div class="col-sm-2">
      <!-- Total Cases and growth -->
      <small>
        Total Cases <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Total Cases", :content => "This metric shows the total number of cases in the EBWiki database."})%>
      </small>
      <div class="metric">
        <%= Article.count %>
      </div>
      <small>
        <%= Article.first.mom_cases_growth %>% mom*
      </small>
    </div>
    <!-- Cases Updated Last month and growth -->
    <div class="col-sm-2">
      <small>
        New Case Updates <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "New Case Updates", :content => "This metric shows the number of times EBWiki cases have been updated in the past 30 days."})%>
      </small>
      <div class="metric">
        <%= Article.first.cases_updated_last_30_days %>
      </div>
      <small>
        <%= Article.first.mom_growth_in_case_updates %>% mom*
      </small>
    </div>
    <!-- Total New Cases Last month and growth -->
    <div class="col-sm-2">
      <small>
        New Cases <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "New Cases", :content => "This metric shows the number of cases in the EBWiki database dated within the past 30 days."})%>
      </small>
      <div class="metric">
        <%= @articles.count %>
      </div>
      <small>
        <%= Article.first.mom_new_cases_growth %>% mom*
      </small>
    </div>
    <!-- Total Followed Cases and growth -->
    <div class="col-sm-2">
      <small>
        Total Case Follows <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Total Case Follows", :content => "This metric shows the total number of follows for EBWiki cases."})%>
      </small>
      <div class="metric">
        <%= Follow.count %>
      </div>
      <small>
        <%= Follow.first.mom_follows_growth %>% mom*
      </small>
    </div>
    <!-- Case Updates Sent -->
    <div class="col-sm-2">
      <small>
        Total Case Followers <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Total Case Followers", :content => "This metric shows the number of EBWiki users who are following one or more EBWiki cases."})%>
      </small>
      <div class="metric">
        <%= Follow.distinct.count('follower_id') %>
      </div>
      <small>
        <%= Follow.first.mom_unique_followers_growth %>% mom*
      </small>
    </div>
