<!-- Total visits Last month and growth -->
    <div class="col-sm-2">
      <small>
        Recent Visits <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Recent Visits", :content => "This metric shows the number of EBWiki visitors over the past 30 days."})%>
      </small>
      <div class="metric">
        <%= @visits_this_month.size %>
      </div>
      <small>
        <%= "#{@mom_new_visits_growth}% increase over the past 30 days" %>
      </small>
    </div>
    <div class="col-sm-2">
      <!-- Total Cases and growth -->
      <small>
        Total Cases <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Total Cases", :content => "This metric shows the total number of cases in the EBWiki database."})%>
      </small>
      <div class="metric">
        <%= @total_number_of_cases %>
      </div>
      <small>
        <%= "#{@mom_cases_growth}% mom*" %>
      </small>
    </div>
    <!-- Cases Updated Last month and growth -->
    <div class="col-sm-2">
      <small>
        New Case Updates <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "New Case Updates", :content => "This metric shows the number of times EBWiki cases have been updated in the past 30 days."})%>
      </small>
      <div class="metric">
        <%= @cases_updated_last_30_days %>
      </div>
      <small>
        <%= "#{@mom_updated_cases_growth}% mom*" %>
      </small>
    </div>
    <!-- Total New Cases Last month and growth -->
    <div class="col-sm-2">
      <small>
        New Cases <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "New Cases", :content => "This metric shows the number of cases in the EBWiki database dated within the past 30 days."})%>
      </small>
      <div class="metric">
        <%= @cases_occurring_this_month.size %>
      </div>
      <small>
        <%= "#{@mom_new_cases_growth}% mom*" %>
      </small>
    </div>
    <!-- Total Followed Cases and growth -->
    <div class="col-sm-2">
      <small>
        Total Case Follows <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Total Case Follows", :content => "This metric shows the total number of follows for EBWiki cases."})%>
      </small>
      <div class="metric">
        <%= @total_number_of_follows %>
      </div>
      <small>
        <%= "#{@mom_follows_growth}% mom*" %>
      </small>
    </div>
    <!-- Case Updates Sent -->
    <div class="col-sm-2">
      <small>
        Total Case Followers <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Total Case Followers", :content => "This metric shows the number of EBWiki users who are following one or more EBWiki cases."})%>
      </small>
      <div class="metric">
        <%= @total_distinct_follows %>
      </div>
      <small>
        <%= "#{@unique_followers_growth}% mom*" %>
      </small>
    </div>
