<div class="container" >
  <div class="row space-below">
    <%= render 'top_metrics' %>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div class="chart-wrapper">
        <div class="chart-title background-orange">
          Visits by Day - Last <%= @last_days %> days
        </div>
        <div class="chart-stage">
          <%= column_chart analytics_visits_by_day_path %>
        </div>
        <div class="chart-notes">
          Column heights represent the number of visitors on a specific day.
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="chart-wrapper">
        <div class="chart-title background-gray">
          Visits by browser - last 24 hours
        </div>
        <div class="chart-stage">
          <%= pie_chart analytics_visits_by_browser_path %>
        </div>
        <div class="chart-notes">
          Notes go down here
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-7">
      <div class="chart-wrapper">
        <div class="chart-title background-gray">
          New Users by Day - Last <%= @last_days %> days (<%= @users.count %>)
        </div>
        <div class="chart-stage">
          <%= column_chart analytics_users_by_day_path %>
        </div>
        <div class="chart-notes">
          Column heights represent the number of users added each day.
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="chart-wrapper">
        <div class="chart-title background-orange">
          Referring Domains - last 24 hours
        </div>
        <div class="chart-stage">
          <%= pie_chart analytics_visits_by_referring_domain_path %>
        </div>
        <div class="chart-notes">
          These domains are where traffic has originated
        </div>
      </div>
    </div>
  </div>

  <div class="row">
  <!-- Recently Updated cases -->
    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title background-gray">
          Recently Updated Cases
        </div>
        <div class="chart-stage">
         <table class='table leader-list'>
           <tr>
            <th>Case</th>
            <th>Updated</th>
           </tr>
           <%= render partial: 'updated_cases', collection: @cases_sorted_by_update, as: :_case %>
         </table>
        </div>
        <div class="chart-notes">
          These are the last ten updated cases
        </div>
      </div>
    </div>

  <!-- Most Followed cases -->
    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title background-orange">
          Most Followed Cases
        </div>
        <div class="chart-stage">
         <table class='table leader-list'>
           <tr>
            <th>Case</th>
            <th>Followers</th>
           </tr>
           <%= render partial: 'followed_cases', collection: @cases_sorted_by_followers, as: :_case %>
         </table>
        </div>
        <div class="chart-notes">
          These are the cases with the most followers
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title background-gray">
          Most Viewed by New Visitors - Last 7 days <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Cases Viewed By New Visitors", :content => "This metric shows the number of new visitors landing on specific EBWiki cases."})%>
        </div>
        <div class="chart-stage">
          <table class='table leader-list'>
            <tr>
              <th>Page</th>
              <th>Views</th>
            </tr>
            <%= render partial: 'visited_cases', collection: @most_visited_cases, as: :_case %>
          </table>
        </div>
        <div class="chart-notes">
          The top cases viewed in the past 7 days.
        </div>
      </div>
    </div>
  </div><!-- row   -->

  <!-- Comments List-->
  <div class="row">
    <div class="col-sm-12">
      <div class="chart-wrapper">
        <div class="chart-title background-orange">
          Recent Comments
        </div>
        <ul class="scroller">
          <%= render partial: 'blockquote_comments', collection: @most_recent_comments, as: :comment %>
        </ul>
      </div>
    </div>
  </div>
</div>
