<div class="container" >
  <div class="row space-below">
    <%= render 'top_metrics' %>
  </div>

  <div class="row">
    <div class="col-sm-7">
      <%= render 'visits_by_day' %>
    </div>

    <div class="col-sm-5">
      <%= render 'visits_by_browser' %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-7">
      <%= render 'new_users_by_day' %>
    </div>

    <div class="col-sm-5">
      <%= render 'referring_domains' %>
    </div>
  </div>

  <div class="row">
  <!-- Recently Updated cases -->
    <div class="col-sm-4">
      <%= render 'recently_updated_cases' %>
    </div>

  <!-- Most Followed cases -->
    <div class="col-sm-4">
      <%= render 'most_followed_cases' %>
    </div>
    <div class="col-sm-4">
      <%= render 'recently_updated_cases' %>
    </div>
  </div><!-- row   -->

  <div class="row">
  <!-- Editors List-->
    <div class="col-sm-4">
      <%= render 'editors_list' %>
    </div>
  <!-- Comments List-->
    <div class="col-sm-8">
      <%= render 'comments' %>
    </div>
  </div>
  <p>* mom refers to a comparison of the most recent adjacent 30 day periods, not specific months</p>
</div>
