<div class="container" >
  <div class="row space-below">
    <!-- Total visits Last month and growth -->
    <div class="col-sm-2">
      <small>
        Recent Visits
      </small>
      <div class="metric">
        <%= Visit.where(started_at: 30.days.ago..Time.now).count %>
      </div>
      <small>
        <%= Visit.first.mom_visits_growth %>% mom*
      </small>
    </div>
    <div class="col-sm-2">
      <!-- Total Cases and growth -->
      <small>
        Total Cases
      </small>
      <div class="metric">
        <%= Article.count %>
      </div>
      <small>
        <%= Article.first.mom_cases_growth %>% mom*
      </small>
    </div>
    <!-- Cases Updated Last month and growth -->
    <div class="col-sm-2">
      <small>
        New Case Updates
      </small>
      <div class="metric">
        <%= Article.first.cases_updated_last_30_days %>
      </div>
      <small>
        <%= Article.first.mom_growth_in_case_updates %>% mom*
      </small>
    </div>
    <!-- Total New Cases Last month and growth -->
    <div class="col-sm-2">
      <small>
        New Cases
      </small>
      <div class="metric">
        <%= Article.where(date: 30.days.ago..Time.now).count %>
      </div>
      <small>
        <%= Article.first.mom_new_cases_growth %>% mom*
      </small>
    </div>
    <!-- Total Followed Cases and growth -->
    <div class="col-sm-2">
      <small>
        Total Case Follows
      </small>
      <div class="metric">
        <%= Follow.count %>
      </div>
      <small>
        <%= Follow.first.mom_follows_growth %>% mom*
      </small>
    </div>
    <!-- Case Updates Sent -->
    <div class="col-sm-2">
      <small>
        Total Case Followers
      </small>
      <div class="metric">
        <%= Follow.distinct.count('follower_id') %>
      </div>
      <small>
        <%= Follow.first.mom_uniq_followers_growth %>% mom*
      </small>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div class="chart-wrapper">
        <div class="chart-title">
          Visits by Day - Last <%= @last_days %> days
        </div>
        <div class="chart-stage">
          <%= column_chart @visits.group_by_day(:started_at).count %>
        </div>
        <div class="chart-notes">
          Column heights represent the number of visitors on a specific day.
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="chart-wrapper">
        <div class="chart-title">
          Visits by browser
        </div>
        <div class="chart-stage">
          <div id="chart-02"><%= pie_chart @visits.group(:browser).count %></div>
        </div>
        <div class="chart-notes">
          Notes go down here
        </div>
      </div>
    </div>

  </div>

<!--     <div class="row">
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>
    </div> -->
    <p>* mom refers to a comparison of the most recent adjacent 30 day periods, not specific months</p>
  </div>