<div class="container" >
  <div class="row space-below">
    <%= render 'top_metrics' %>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div class="chart-wrapper">
        <div class="chart-title">
          Visits by Day - Last <%= @last_days %> days
        </div>
        <div class="chart-stage">
          <%= column_chart @visits.group_by_day(:started_at).count %>
        </div>
        <div class="chart-notes">
          Column heights represent the number of visitors on a specific day.
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="chart-wrapper">
        <div class="chart-title">
          Visits by browser
        </div>
        <div class="chart-stage">
          <div id=""><%= pie_chart @visits.group(:browser).count %></div>
        </div>
        <div class="chart-notes">
          Notes go down here
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-7">
      <div class="chart-wrapper">
        <div class="chart-title">
          New Users by Day - Last <%= @last_days %> days (<%= @users.count %>)
        </div>
        <div class="chart-stage">
          <%= column_chart @users.group_by_day(:created_at).count %>
        </div>
        <div class="chart-notes">
          Column heights represent the number of users added each day.
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="chart-wrapper">
        <div class="chart-title">
          Referring Domains
        </div>
        <div class="chart-stage">
          <div id=""><%= pie_chart @visits.group(:referring_domain).count %></div>
        </div>
        <div class="chart-notes">
          These domains are where traffic has originated
        </div>
      </div>
    </div>

  </div>

  <div class="row">
  <!-- Recently Updated cases -->
    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Recently Updated Cases
        </div>
        <div class="chart-stage">
         <table class='table leader-list'>
           <tr>
            <th></th>
            <th>Case</th>
            <th>Updated</th>
           </tr>

           <% Article.order(updated_at: :desc).first(10).each_with_index do |article, i| %>
             <tr>
               <td><%= i + 1 %></td>
               <td><%= link_to truncate(article.title, length: 14), article %></td>
               <td><small><%= article.updated_at.strftime("%m.%e, %l:%M %p") %></small></td>
             </tr>
           <% end %>
         </table>
        </div>
        <div class="chart-notes">
          These are the last ten updated articles
        </div>
      </div>
    </div>

  <!-- Most Followed cases -->
    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
          Most Followed Cases
        </div>
        <div class="chart-stage">
         <table class='table leader-list'>
           <tr>
            <th></th>
            <th>Case</th>
            <th>Followers</th>
           </tr>

           <% Article.order(follows_count: :desc).first(10).each_with_index do |article, i| %>
             <tr>
               <td><%= i + 1 %></td>
               <td><%= link_to truncate(article.title, length: 25), article %></td>
               <td><%= link_to article.follows_count, articles_followers_path(article) %></td>
             </tr>
           <% end %>
         </table>
        </div>
        <div class="chart-notes">
          These are the articles with the most followers
        </div>
      </div>
    </div>
    <div class="col-sm-4">
<!--       <div class="chart-wrapper">
        <div class="chart-title">
          Recent Comments
        </div>
        <ul class="scroller">
          <% Comment.order(created_at: :desc).each do |comment| %>
            <li>
              <blockquote class="blockquote">
                <p><%= link_to truncate(Article.find(comment.commentable_id).title, length: 30), article_path(Article.find(comment.commentable_id)) %></p>
                <p><%= link_to truncate(comment.content, length: 100), article_path(Article.find(comment.commentable_id)) %></p>
                <small><%= link_to User.find(comment.user_id).name, user_path(User.find(comment.user_id)) %></small>
              </blockquote>
            </li>
          <% end %>
        </ul>
      </div> -->
      <div class="chart-wrapper">
        <div class="chart-title">
          Most Viewed Pages of All Time
        </div>
        <div class="chart-stage">
         <table class='table leader-list'>
           <tr>
            <th></th>
            <th>Page</th>
            <th>Views</th>
           </tr>

           <% Visit.group(:landing_page).order('count_id DESC').limit(15).count(:id).each_with_index do |visit, i| %>
            <tr>
              <% if i>0 %>
                <% if Article.find_by_slug(visit[0].split('/').last).present? %>
                  <td><%= i %></td>
                  <td><%= link_to truncate(Article.find_by_slug(visit[0].split('/').last).title, length: 25), article_path(Article.find_by_slug(visit[0].split('/').last)) %></td>
                  <td><%= visit[1] %></td>
                <% end %>
              <% end %>
            </tr>
           <% end %>
         </table>
        </div>
        <div class="chart-notes">
          The top 10 cases viewed on EBWiki all time.
        </div>
      </div>

    </div>
  </div><!-- row   -->

<!--     <div class="row">
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>
    </div> -->
  <p>* mom refers to a comparison of the most recent adjacent 30 day periods, not specific months</p>
</div>