<div class="container" >
  <div class="row space-below">
    <%= render 'top_metrics' %>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <div class="chart-wrapper">
        <div class="chart-title background-orange">
          Visits by Day - Last <%= @last_days %> days
        </div>
        <div class="chart-stage">
          <%= column_chart( visits_by_day(@visits) ) %>
        </div>
        <div class="chart-notes">
          Column heights represent the number of visitors on a specific day.
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="chart-wrapper">
        <div class="chart-title background-gray">
          Visits by browser - last 24 hours
        </div>
        <div class="chart-stage">
          <div id=""><%= pie_chart( visits_today_by_browser(@visits) ) %></div>
        </div>
        <div class="chart-notes">
          Notes go down here
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-7">
      <div class="chart-wrapper">
        <div class="chart-title background-gray">
          New Users by Day - Last <%= @last_days %> days (<%= @users.count %>)
        </div>
        <div class="chart-stage">
          <%= column_chart( users_by_day(@users) ) %>
        </div>
        <div class="chart-notes">
          Column heights represent the number of users added each day.
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="chart-wrapper">
        <div class="chart-title background-orange">
          Referring Domains - last 24 hours
        </div>
        <div class="chart-stage">
          <div id=""><%= pie_chart(visits_today_by_referring_domain(@visits)) %></div>
        </div>
        <div class="chart-notes">
          These domains are where traffic has originated
        </div>
      </div>
    </div>
  </div>

  <div class="row">
  <!-- Recently Updated cases -->
    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title background-gray">
          Recently Updated Cases
        </div>
        <div class="chart-stage">
         <table class='table leader-list'>
            <tr>
             <th></th>
             <th>Case</th>
             <th>Updated</th>
            </tr>

            <% Article.most_recent(10).each_with_index do |article, i| -%>
              <tr>
                <td><%= i + 1 %></td>
                <td><%= link_to_article_title(article, 14) %></td>
                <td><small><%= article_updated_at(article) %></small></td>
              </tr>
            <% end -%>
         </table>
        </div>
        <div class="chart-notes">
          These are the last ten updated articles
        </div>
      </div>
    </div>

  <!-- Most Followed cases -->
    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title background-orange">
          Most Followed Cases
        </div>
        <div class="chart-stage">
          <table class='table leader-list'>
            <tr>
             <th></th>
             <th>Case</th>
             <th>Followers</th>
            </tr>

            <% Article.most_recent_by_follower(10).each_with_index do |article, i| -%>
              <tr>
                <td><%= i + 1 %></td>
                <td><%= link_to_article_title(article, 25) %></td>
                <td><%= link_to_article_follower_count(article) %></td>
              </tr>
            <% end -%>
          </table>
        </div>
        <div class="chart-notes">
          These are the articles with the most followers
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title background-gray">
          Most Viewed by New Visitors - Last 7 days <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Cases Viewed By New Visitors", :content => "This metric shows the number of new visitors landing on specific EBWiki cases."})%>
        </div>
        <div class="chart-stage">
          <table class='table leader-list'>
            <tr>
              <th></th>
              <th>Page</th>
              <th>Views</th>
            </tr>

            <% new_visits.each_with_index do |visit, i| -%>	
              <tr>		
                <% if Article.find_by_slug(visit[0].split('/').last).present? %>		
                  <td><%= i %></td>		
                  <td>
                    <%= link_to(truncate(Article.find_by_slug(visit[0].split('/').last).title, length: 25), 
                                article_path(Article.find_by_slug(visit[0].split('/').last))) %>
                  </td>		
                  <td><%= visit[1] %></td>		
                <% end %>		
              </tr>		
            <% end -%>
          </table>
        </div>
        <div class="chart-notes">
          The top cases viewed in the past 7 days.
        </div>
      </div>

    </div>
  </div><!-- row   -->

  <!-- Comments List-->
  <div class="row">
    <div class="col-sm-12">
      <div class="chart-wrapper">
        <div class="chart-title background-orange">
          Recent Comments
        </div>
        <ul class="scroller">
          <%= recent_comments_by_creation_time %>
        </ul>
      </div>
    </div>
  </div>


<!--     <div class="row">
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <img data-src="holder.js/100%x150/white">
        </div>
      </div>
    </div> -->
  <p>* mom refers to a comparison of the most recent adjacent 30 day periods, not specific months</p>
</div>