<div class = "btn-group btn-group-justified">
	<% if user_signed_in? %>
		<% if (follow = current_user.follows.find_by_followable_id(@article.id)) %>
		    <%= link_to 'Unfollow', article_follow_path(@article, follow), :confirm => "Are you sure you want to unfollow this article?", :method => :delete, class: "btn btn-primary.outline" %>
    <% else %>
      <%= link_to 'Follow', article_follows_path(@article), :method => :post, class: "btn btn-primary", data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom",:title => "Stay on top of this!",:content => "Click here to receive an email whenever this case is updated."} %>
    <% end %>
		<%= link_to "Edit", edit_article_path(@article), class: "btn btn-success", data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom",:title => "Something not right?",:content => "Click here to make changes to this case.  We're relying on folks like you to help us stay accurate!"} %>
	<% else %>
    <%= link_to 'Follow', article_follows_path(@article), :method => :post, class: "btn btn-primary", data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom",:title => "Login to Follow this case!",:content => "Click here to receive an email whenever this case is updated."} %>
	<% end %>
	<%= link_to "History", articles_history_path(@article), class: "btn btn-info", data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom",:title => "Track Changes",:content => "Click here to see all the past edits to this article."} %>
</div>