<%= simple_form_for @article do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="cold-md-12">
		<fieldset class="fsStyle">
			<legend class="legendStyle">Basic Case Information, Media <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Basic Information and Media", :content => "This fieldset includes the incident date, a photo of the subject or the event as well as a link to a youtube video of the event. Editors should seek out images beyond mug shots where possible. Likewise, our preference is for videos of the actual events as recorded as they occurred vs news reports or other secondary sources, though we have included secondary sources in a few cases."})%></legend>
			<div>
				<%= f.input :title %>
				<%= f.input :date, as: :date_picker, :label => 'Date of Incident', class: "datetimepicker" %>
				<% if params[:action] == "new" %>
				    <%= image_tag('default-user-icon.png', :size => "150x150", :class => "img-responsive") %>
					<h4>Upload a new image to replace the placeholder:</h4>
				<% else %>
					<h4>Current image showing on the case page: </h4>
		      <% if @article.avatar? %>
			      <%= image_tag(@article.avatar.medium_avatar, :class => "img-responsive") %>
			      <%= f.input :remove_avatar, :label => 'Remove current image' %>
			    <% else %>
				    <%= image_tag('default-user-icon.png', :size => "150x150", :class => "img-responsive") %>
				  <% end %>
					<h4>Upload a new image to replace current photo:</h4>
				<% end %>
		    <%= f.file_field :avatar, :id => "lefile_article" %>
			  <div class="input-append">
			    <input id="photoCover_article" class="input-large" type="text">
			    <a class="btn btn-warning" onclick="$('input[id=lefile_article]').click();">Browse</a>
			  </div>
				<h4>Add a YouTube or Vimeo video url relating to the case:</h4>
				<%= f.input :video_url %>
				<h4>Cause of death:</h4>
				<%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a Category"} %>
	    </div>
		</fieldset>
	</div>

	<div class="cold-md-12">
		<fieldset class="fsStyle">
			<legend class="legendStyle">Subjects Information <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Subject's Information", :content => "This is where you will add information about age, gendar and other characteristics of the subject. Each case requires at least one subject.  "})%></legend>
			<div>
		    <%= f.simple_fields_for :subjects do |subject| %>
		      <%= render 'subject_fields', :f => subject %>
		    <% end %>
	    </div>
	    <div class="links">
	      <%= link_to_add_association 'Add a Subject', f, :subjects, :class => "btn btn-warning" %>
	    </div>
	</fieldset>

	<!-- fieldset collapse start -->
<div class="cold-md-12">
	<fieldset class="fsStyle">
		<legend class="legendStyle">
      <div data-toggle="collapse">Incident Location Info <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Incident Location Info", :content => "These fields relate to where the incident took place. Editors should be as specific as possible, approximating a street address and a zip code. City and State are required fields."})%></div>
		</legend>
		<%= f.input :address %>
		<%= f.input :city %>
		<%= f.collection_select :state_id, State.all, :id, :name, {prompt: "State"}, label:"State" %>
		<%= f.input :zipcode %>
  </fieldset>
</div>

<div class="cold-md-12">
	<fieldset class="fsStyle">
		<legend class="legendStyle">Main Content Fields <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Main Content Fields", :content => "These three fields constitute the body of the case and house most of the facts. The overview contains basic factual information, litigation includes facts relating to legal proceedings and investigation and community action encompasses information about family activity, protests and the like"})%></legend>
		<%= f.input :overview, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Basic'} } %>
		<%= f.input :litigation, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Basic'} } %>
		<%= f.input :community_action, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Basic'} } %>
  </fieldset>
</div>

<div class="cold-md-12">
  <fieldset class="fsStyle">
    <legend class="legendStyle">Enforcement Agencies Involved <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Agencies", :content => "Add law enforcement agencies involved here so we can grade their performance."})%></legend>
    <div id="links">
      <%= f.association :agencies, collection: Agency.all.sort_by(&:name), input_html: { multiple: true, class: 'select2'}%>
    </div>

    <% if params[:action] == "edit" %>
      <small><%= link_to 'Add a new agency', new_agency_path %></small>
    <% end %>
  </fieldset>
</div>

<div class="cold-md-12">
	<fieldset class="fsStyle">
		<legend class="legendStyle">Links to Related Content <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Links", :content => "Links to external content and supporting material are critical. Whenever an editor creates or adds content to a case, he or she should provide at least one supporting link. Any html links included withink the content section should also be added here."})%></legend>
		<div id="links">
		    <%= f.simple_fields_for :links do |link| %>
		      <%= render 'link_fields', :f => link %>
		    <% end %>
	    <div class="links">
	      <%= link_to_add_association 'add a link', f, :links, :class => "btn btn-warning" %>
	    </div>
		</div>
	</fieldset>
</div>

<div class="cold-md-12">
  <fieldset class="fsStyle">
    <legend class="legendStyle">Summary of Changes to the Article <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Main Content Fields", :content => "Please summarize the edits you have made to this case.  These summaries populate the history tabs to make the history of the article more readable to users."})%></legend>
    <%= f.input :summary %>
  </fieldset>
</div>
  <br>
	<%= f.button :submit, :class => 'btn btn-primary' %>
<% end %>

<script type="text/javascript">
    $('.datetimepicker').datetimepicker();
</script>

<script type="text/javascript">
  $('input[id=lefile_article]').change(function() {
  $('#photoCover_article').val(_.last($(this).val().split("\\")));
  });
</script>
