<%= simple_form_for @article do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= f.input :date, as: :date_picker, :label => 'Date field', class: "datetimepicker" %>
	<h4>Enter a category of abuse:</h4>
	<%= f.collection_select :category_id, Category.all, :id, :name, {prompt: "Choose a Category"} %>
	<h4>Upload a photo of the victim:</h4>
	<%= f.file_field :avatar %>
	<h4>Add a YouTube Video url relating to the case:</h4>
	<%= f.input :video_url %>
	<h4>Name of the victim:</h4>
	<%= f.input :title, :label => false %>
	<%= f.input :age %>
	<%= f.input :address %>
	<%= f.input :city %>
	<%= f.collection_select :state_id, State.all, :id, :name, {prompt: "State"}, label:"State" %>
	<%= f.input :zipcode %>
	<%= f.input :overview %>
	<%= f.input :litigation %>
	<%= f.input :community_action %>
	<br>
	<!--
	<%#= f.grouped_collection_select :agency_id, State.order(:name), :agencies, :name, :id, :name, {prompt: "Name of Law Enforcement Agency"}, label:"Agency" %>
	-->
	<div class = "form-group">
	<h4>Add links to related content:</h4>
		<div id="links">
		    <%= f.simple_fields_for :links do |link| %>
		      <%= render 'link_fields', :f => link %>
		    <% end %>
	    <div class="links">
	      <%= link_to_add_association 'add a link', f, :links, :class => "btn btn-warning" %>
	    </div>
	</div>
	


    <br>
	<%= f.button :submit, :class => 'btn btn-primary' %>

<% end %>

<script type="text/javascript">
    $('.datetimepicker').datetimepicker();
</script>
