<div class="nested-fields">
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :title %>
  <%= f.file_field :avatar %>
  <%= link_to_remove_association "remove officer", f %>
</div>