<div class="nested-fields">
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :gender %>
  <%= f.input :ethnicity %>
  <%= f.input :armed %>
  <%= f.input :mentally_ill %>
  <%= f.input :veteran %>
  <%= link_to_remove_association "remove subject (you need at least one)", f %>
</div>