<h1 class="page-header articleTitle">
  <%= @subjects.first.name %>, <%= @subjects.first.age ? "#{@subjects.first.age}" : "" %>
  <br>
  <small><%= @article.city %>, <%= @article.state.name %>. <%= @article.date.strftime("%B %d, %Y") %></small>
  <% if @article.agencies.present? %>
    <p>Agencies:
      <% @article.agencies.each_with_index do |agency, index| %>
        <%= link_to agency.name, agency_path(agency) %>
        <% unless index == @article.agencies.size - 1 %>
          <%= "|" %>
        <% end %>
      <% end %>
    </p>
  <% end %>
</h1>