<div class="container">
  <h1>History</h1>
  <h4>Any time any information about a case is updated, a new version is created. This page shows the history of this article and lists all the changes that have been made to the article over time.  </h4>

  <ul>
    <% @versions.each do |version| %>
      <li>
        <%= l(version.created_at, format: "%-d.%m.%Y %H:%M:%S %Z") %><br/>
        Event ID: <%= version.id %><br/>
        <b>Target:</b> <%= version.item_type %>
        <small>(<%= Article.find(version.item_id).title %>)</small>; <b>action</b> <%= version.event %>;<br/>
        <b>Remote address:</b> <%= version.ip %><br/>
        <b>User:</b>
          <% if version.whodunnit && version.whodunnit != 'Guest' %>
            <% user = User.find_by_id(version.whodunnit) %>
            <% if user %>
              <%= user.try(:name) %>
              (last seen at <%= l(user.last_sign_in_at, format: "%-d.%m.%Y %H:%M:%S") %>)
            <% end %>
          <% else %>
            Guest
          <% end %>
        <div>
          Changeset:
          <% if version.comment.present? %>
            <pre><%= version.comment %></pre>
          <% else %>
            <pre>No edit summary is available for this version.</pre>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>