<div class="container">
  <h1>History</h1>
  <h4>Any time any information about a case is updated, a new version is created. This page tracks the changes made to the case over time including summaries to explain those changes where possible. As of now, the changes to the following attributes are tracked: address fields, content sections for overview, community_action and litigation as well as the article's title, date, photo and video links. <br><br>Properties not currently being tracked in versions include changes to Subjects, Comments and Links. In the future we will capture those changes as well.</h4>

  <ul>
    <% @versions.each do |version| %>
      <li>
        <%= l(version.created_at, format: "%-d.%m.%Y %H:%M:%S %Z") %><br/>
        Event ID: <%= version.id %><br/>
        <b>Target:</b> <%= version.item_type %>
        <small>(<%= Article.find(version.item_id).title %>)</small>; <b>action</b> <%= version.event %>;<br/>
        <b>Remote address:</b> <%= version.ip %><br/>
        <b>User:</b>
          <% if version.whodunnit && version.whodunnit != 'Guest' %>
            <% user = User.find_by_id(version.whodunnit) %>
            <% if user %>
              <%= user.try(:name) %>
              (last seen at <%= l(user.last_sign_in_at, format: "%-d.%m.%Y %H:%M:%S") %>)
            <% end %>
          <% else %>
            Guest
          <% end %>
        <div>
          Changeset:
          <% if version.comment.present? %>
            <pre><%= version.comment %></pre>
          <% else %>
            <pre>No edit summary is available for this version.</pre>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>