<div class="container">
  <h1>History</h1>
 
  <ul>
    <% @versions.each do |version| %>
      <li>
        <%= version.created_at.strftime("%A, %d %b %Y %l:%M %p") %><br/>
        Version ID: <%= version.id %><br/>
        <b>Editor:</b>
          <% if version.whodunnit && version.whodunnit != 'Guest' %>
            <% user = User.find_by_id(version.whodunnit) %>
            <% if user %>
              <%= user.name %>
            <% end %>
          <% else %>
            Guest
          <% end %>
        </br>
        <b>Editor's IP Address:</b> <%= version.ip %><br/>
        <div>
          Summary of Changes in this version:
          <pre><%= version.blurb %></pre>
        </div>
      </li>
    <% end %>
  </ul>
</div>