<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header underline">EBWiki has recorded <%= Article.count %> cases of law enforcement killing people of color so far and there are countless more cases that we have not yet captured.</h2>
            <h4 class="page-subheader">EBWiki is aimed at bringing to light and ending instances of biased violence against people of color by those in law enforcement and elsewhere. Read more <%= link_to 'about us',about_path %>.  
              <% if user_signed_in? %>
		            Click the follow button below the image on any case page and we will keep you updated as these cases proceed. It is only by paying attention that we will eradicate this behavior.</p>
							<% else %>
	            <%= link_to 'Login', new_user_registration_path %> and click the follow buttons on the case pages so that we can update you as these cases proceed. It is only by paying attention that we will eradicate this behavior.
							<% end %>
						</h4>
						<h2 class="page-subheader">Below are photos of the victims. Click any image to read their story.</h2>

        </div>
    </div>
    <!-- Gallery of cases -->
    <div class="row">	
	    <div id='front-gallery'>
	        <% @articles.each do |article| %>
		        <div class="col-lg-2 col-md-4 col-xs-2">					
		            <div class="thumbnail" >
			            <div class="imageWrapper galleryImage">
				            <% if article.video_url? &&  article.video_url != '' %>
										  <%= link_to image_tag('video-icon-small.png', :class => "video_icon"), article %>
										<% end %>	            		
				            <% if article.avatar? %>
				              <%= link_to image_tag(article.avatar.large_avatar, :class => "img-responsive", data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "#{article.date.strftime("%m/%d/%Y")} - #{article.title} ", :content => "#{truncate(article.overview, length:200)}"}), article %>
				            <% else %>
				              <%= link_to image_tag('default-user-icon.png', :class => "img-responsive", size: 250, data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "#{article.date.strftime("%m/%d/%Y")} - #{article.title} ", :content => "#{truncate(article.overview, length:200)}"}), article %>
									  <% end %>
			            </div>

			        </div>
			    </div>
	        <% end %>
	    </div>
    </div>
    <%= paginate @articles %>
    <p><%= page_entries_info @articles %></p>
    <!-- End Gallery -->
    <!-- Map -->
    <div class="row">
	    <div class="col-lg-12 articleMap">
		  <div id='map'></div>	
	    </div>
	</div>
    <!-- End Map -->
</div>
<script type="">
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	  markers = handler.addMarkers(<%=raw marker_locations_for(@articles) %>);
	  handler.bounds.extendWith(markers);
	  handler.fitMapToBounds();
	});
</script>
