<%
meta title: "EBWiki - Ending Violence Against People of Color",
     description: "EBWiki is a new web application woring to harness the power of community to end bias in law enforcement that has led to disparate treatment of people of color with tragic results.",
     keywords: %w("police killing abuse")
%>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header underline">EBWiki has recorded <%= Article.count %> cases of law enforcement killing people of color so far and there are countless more cases that we have not yet captured.</h2>
            <h4 class="page-subheader">EBWiki is aimed at bringing to light and ending instances of biased violence against people of color by those in law enforcement and elsewhere. Read more <%= link_to 'about us',about_path %>.  
              <% if user_signed_in? %>
		            Click the follow button below the image on any case page and we will keep you updated as these cases proceed. It is only by paying attention that we will eradicate this behavior.</p>
							<% else %>
	            <%= link_to 'Login', new_user_registration_path %> and follow specific cases and we will update you as they proceed. It is only by paying attention that we will eradicate this behavior.
							<% end %>
						</h4>
						<div class="text-center">
							<h3><%= link_to 'Get our newsletter', "http://eepurl.com/bt5QCz", class: "btn btn-default" %></h3>
						</div>
						<h2 class="page-subheader">Below are photos of the victims. Hover over the images for more information.</h2>

        </div>
    </div>
    <!-- Gallery of cases -->
    <div class="row">	
	    <div id='front-gallery'>
	        <% @articles.each do |article| %>
		        <div class="col-lg-3 col-md-4 col-xs-2">					
		            <div class="" >
			            <div class="view view-first">	            		
				            <% if article.avatar? %>
				              <%= link_to image_tag(article.avatar.large_avatar, :class => "img-responsive"), article %>
				            <% else %>
				              <%= link_to image_tag("https://s3.amazonaws.com/blackopswiki/uploads/article/avatar/319/large_avatar_default-user-icon.png", :class => "img-responsive"), article %>
									  <% end %>
									  <div class="mask">
										  <h2><%= article.title %></h2>
										  <h5><%= article.date.strftime("%B %d, %Y") %> - <%= article.city %>, <%= article.state.ansi_code %></h5>
										  <p><%= raw article.overview.truncate(140) %></p>
										  <%= link_to 'Read More', article, :class => "info" %> 
									  </div>
			            </div>

			        </div>
			    </div>
	        <% end %>
	    </div>
    </div>
    <%= paginate @articles %>
    <p><%= page_entries_info @articles %></p>
    <!-- End Gallery -->
    <!-- Map -->
    <div class="row">
	    <div class="col-lg-12 articleMap">
		  <div id='map'></div>	
	    </div>
	</div>
    <!-- End Map -->
</div>
<script type="">
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	  markers = handler.addMarkers(<%=raw @hash.to_json %>);
	  handler.bounds.extendWith(markers);
	  handler.fitMapToBounds();
	});
</script>
