<!-- <h2> Victims of Police Violence </h2>

<% @articles.each do |article| %>
	<h2>
		<%= link_to article.title, article %>
		<% unless article.video_url == '' %>
			<%= link_to image_tag('video_icon.jpg', width: "50"), article %> 
		<% end %>
	</h2>
	<p>Incident Date: <%=article.date %></p>
	<p><%= truncate(article.content, length:200) %></p>
<% end %> -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">All of these people were killed by the police...</h2>
        </div>
        <% @articles.each do |article| %>
	        <div class="col-lg-2 col-md-4 col-xs-6">
	            <div class="thumbnail" >	            		
		            <%= link_to image_tag(article.avatar.medium_avatar, :class => "img-responsive", data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "#{article.date.strftime("%m/%d/%Y")} - #{article.title} ", :content => "#{truncate(article.content, length:200)}"}), article %>
	            </div>
	        </div>
        <% end %>
    </div>
</div>
