<!-- the meta tag is for use with metamagic gem which generates
     title and meta tags in conjunction with the metamagic
     method in app/views/layouts/application.html.erb
     TODO: Create a view helper that works for all pages -->
<% meta title: "EBWiki tracking the case of #{@article.title}",
     description: "#{@article.overview.truncate(155)}",
     keywords: %w("@article.subjects.first.name police violence people color")
%>
<%= render 'layouts/header' %>
<!-- Page Content -->
<div class="container">

<!-- Portfolio Item Heading -->
	<div class="row">
	</div>
	<!-- /.row -->

	<!-- Portfolio Item Row -->
	<div class="row">
    <div class="col-md-3">
      <% if @article.avatar? %>
	      <%= image_tag(@article.avatar.large_avatar, :class => "img-responsive articleImage") %>
	    <% else %>
		    <%= image_tag('default-user-icon.png', :size => "250x250", :class => "img-responsive articleImage") %>
		  <% end %>

			<div class="">
	      <%= social_share_button_tag("Take a look at what I just found on EBWiki:") %>
	    </div>
	    <div class="row">
				<%= render 'button_group' %>
			</div>
			<%= render "comments/form" %>
			<div class="commentList" >
				<%= render "comments/comments" %>
			</div>
    </div>

	  <div class="col-md-9">
      <h1 class="page-header articleTitle"><%= @subjects.first.name %>, <%= @subjects.first.age ? "#{@subjects.first.age}" : "" %>
      <br>
          <small><%= @article.city %>, <%= @article.state.name %>. <%= @article.date.strftime("%B %d, %Y") %></small>
          <div>
            <% if current_user %>
              <% if current_user.following?(@article) %>
              <% else %>
	              <%= link_to 'Follow This Case', article_follows_path(@article), :method => :post, class: "btn-lg btn-primary text-center", data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom",:content => "Click here to receive an email whenever this case is updated."} %>
	            <% end %>
            <% else %>
              <%= link_to 'Follow This Case', article_follows_path(@article), :method => :post, class: "btn-lg btn-primary text-center", data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom",:title => "Login to Follow this case!",:content => "Click here to receive an email whenever this case is updated."} %>
            <% end %>
          </div>
      </h1>
			<p class="timeAgo">Last updated: <%= time_ago_in_words(@article.updated_at) %> ago</p>
		    <% if @article.followers.present? %>
          <p>
            <%= link_to 'People tracking this case', articles_followers_path(@article) %>: <span class="timeAgo"><%= @article.followers.count %></span>
	            <% unless @article.followers.include?(current_user) %>
		            -- Click here to <%= link_to 'Track this', article_follows_path(@article) %>.
		          <% end %>
          </p>
        <% end %>
				<%= render 'main_content' %>
			<div class="row">
				<div class="col-md-12">
					<% if @article.video_url.to_s != "" %>
						<div class="embed-container">
								<%= embed(@article.video_url) %>
						</div>
					<% end %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<% if @article.links.count > 0 %>
						<h4 class="article_subheader">Additional Resources:</h4>
						<div class = "background-links">
							<% @article.links.each do |link| %>
								<%= link_to link.url, "#{link.url}" %>
								</br>
							<% end %>
						</div>
					<% end %>
				</div>
			</div>
	    <% if @article.nearby_cases.present? %>
			<!-- Related Projects Row -->
				<div class="row">
			    <div class="col-lg-12">
		        <h3 class="page-header">EBWiki is tracking <%= @article.nearby_cases.size %> other case<%= "s" if @article.nearby_cases.size > 1 %> near <%= @article.city %>, <%= @article.state.name %>:</h3>
		      </div>
		    </div>
				<div class="row">
          <div class="col-lg-12">
				    <% @article.nearby_cases.each do |article| %>
					    <div class="col-lg-2 col-md-4 col-xs-12">
              <div class="view view-first">
                <% if article.avatar? %>
                  <%= link_to image_tag(article.avatar.large_avatar, :class => "img-responsive"), article %>
                <% else %>
                  <%= link_to image_tag("https://s3.amazonaws.com/blackopswiki/uploads/article/avatar/319/large_avatar_default-user-icon.png", :class => "img-responsive"), article %>
                <% end %>
                <div class="mask">
                  <h2><%= link_to article.title, article, :class => "info2" %></h2>
                </div>
              </div>
          </div>
				    <% end %>
				  </div>
			  </div>

		    <!-- Map -->
		    <div class="row">
			    <div class="col-lg-12 articleMap">
				  <div id='map'></div>
			  </div>
			<% end %>
		</div>
	</div>
</div>


<!-- /.row -->

<script type="text/javascript">
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();
	});
</script>

<script type="">
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
 	  markers = handler.addMarkers(<%= raw marker_locations_for(@article.nearby_cases) %>);
	  handler.bounds.extendWith(markers);
	  handler.fitMapToBounds();
	});
</script>

