<%= image_tag(@article.avatar.large_avatar) %>
<div class="row">
	<div class = "btn-group">
		<%= link_to "Back", root_path, class: "btn btn-default" %>
		<% if user_signed_in? %>
			<%= link_to "Edit", edit_article_path(@article), class: "btn btn-default" %>
			<%#= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure you want to remove this?"}, class: "btn btn-default" %>
		<% end %>
	</div>
</div>
<h1><%= @article.title %><h1>
<p style="font-size: 50%;"><%= raw @article.content %></p>
<h4>Officers involved:</h4>
<% @officers.each do |officer| %>
	<%= image_tag(officer.avatar.large_avatar) %>
<% end %>
<% if @article.video_url.length > 0 %>
	<div class="embed-container">
		<%= embed(@article.video_url) %>
	</div>
<% end %>
<p style="font-size: 50%;"><%= link_to 'See history of this article', articles_history_path(@article) %><p>

<h4>Additional Resources:</h4>
<div class = "background-links">
	<% @article.links.each do |link| %>
		<%= link_to link.url, "#{link.url}" %>
		</br>
	<% end %>
</div>

<script type="text/javascript">
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();   
	});
</script>