<!-- the meta tag is for use with metamagic gem which generates
     title and meta tags in conjunction with the metamagic
     method in app/views/layouts/application.html.erb
     TODO: Create a view helper that works for all pages -->
<% meta title: "EBWiki tracking the case of #{@article.title}",
     description: "#{@article.overview.truncate(155)}",
     keywords: %w("@article.subjects.first.name police violence people color")
%>
<%= render 'layouts/header' %>
<!-- Page Content -->
<div class="container">

<!-- Portfolio Item Heading -->
	<div class="row">
	</div>
	<!-- /.row -->

	<!-- Portfolio Item Row -->
	<div class="row">
    <div class="col-md-3">
      <%= render 'avatar' %>

			<div class="">
        <%= render 'social_share' %>
	    </div>
	    <div class="row">
				<%= render 'button_group' %>
			</div>
      <br>
      <div class="row">
        <%= render 'milestones_table' %>
      </div>
			<%= render "comments/form" %>
			<div class="commentList" >
				<%= render "comments/comments" %>
			</div>
    </div>

	  <div class="col-md-9">
      <div class = "row" >
        <div class="col-md-8">
          <%= render 'top_content' %>
          <div>
            <%= render 'follow_button' %>
          </div>
        <br>
        <%= render 'last_updated' %>
        <%= render 'followers_link' %>

          <div class="col-md-12">
          <%= render 'agencies_list' %>

          </div>
        </div>
      </div>
				<%= render 'main_content' %>
			<div class="row">
				<div class="col-md-12">
          <%= render 'video_embed' %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" >
          <%= render 'links_list' %>
				</div>
			</div>
	    <%= render 'nearby_cases' %>
		</div>
	</div>
</div>


<!-- /.row -->

<script type="text/javascript">
	$(document).ready(function(){
	    $('[data-toggle="popover"]').popover();
	});
</script>
<script type="">
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
 	  markers = handler.addMarkers(<%= raw marker_locations_for(@article.nearby_cases).to_json %>);
	  handler.bounds.extendWith(markers);
	  handler.fitMapToBounds();
	});
</script>

<script type="text/javascript">
  if($('ul#link-list').children().length > 10) {
    $(document).ready(function(){
      var more = $('<li class="more btn btn-xs btn-default"><a href="">Show more</a></li>');
      var less = $('<li class="less btn btn-xs btn-default" ><a href="">Show less</a></li>');

      $('ul#link-list').children('li:gt(10)').hide();
      $('ul#link-list').append(more);

      $('body').on('click','.more',function(e){
          e.preventDefault();
          $(this).remove();
          $('ul#link-list').children().show();
          $('ul#link-list').append(less);
          return false;
      });

      $('body').on('click','.less',function(e){
          e.preventDefault();
          $(this).remove();
          $('ul#link-list').children('li:gt(10)').hide();
          $('ul#link-list').append(more);
          return false;
      });
    });
  }
</script>

