<div class="row top-buffer">
  <div class="spacer"></div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'mailbox/folders' %>
      </div>
    </div>
    <%= link_to "Compose", new_conversation_path, class: "btn btn-success" %>
  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render partial: 'messages' %>
      </div>
    </div>
    <div>
      <!-- Reply Form -->
      <%= form_for :message, url: reply_conversation_path(conversation) do |f| %>
          <div class="form-group">
            <%= f.text_area :body, placeholder: "Reply Message", rows: 4, class: "form-control" %>
          </div>
          
          <div class="btn-toolbar pull-right">
            <%= f.submit "Reply", class: 'btn btn-reply' %>
            
            <% if conversation.is_trashed?(current_user) %>
                <%= link_to 'Untrash', untrash_conversation_path(conversation), class: 'btn btn-info', method: :post %>
            <% else %>
                <%= link_to 'delete', trash_conversation_path(conversation), class: 'btn btn-delete', method: :post,
                            data: {confirm: 'Are you sure?'} %>
            <% end %>
        </div>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
