<div class="container">
    <div class="row">
    	<div class="col-lg-12">
	     	<h2 class="page-header underline">EBWiki below maps <%= @cases.count %> cases of violence against people of color. Read more <%= link_to 'about us',about_path %></h2>
	        <% if user_signed_in? %>
		     	Click the follow button below the image on any case on the map. We will keep you updated as these cases proceed.</p>
			<% else %>
		    	<%= link_to 'Login', new_user_registration_path %> and follow specific cases and we will update you as they proceed.
			<% end %>
			<div class="text-center">
				<h3>
					<%= link_to 'Back to the Main Page', root_path, class: "btn btn-warning" %>
					<%= link_to 'Get our newsletter', "http://eepurl.com/bt5QCz", class: "btn btn-default" %>
				</h3>
			</div>
			<h2 class="page-subheader">Click on the map pins below to learn more.</h2>
			<div id="markers-on-the-map">
	    		<div id="map page-header">
		    		<div style="width: 640px; height: 480px; margin: auto" id="mapContainer"></div>
					<!-- HERE Maps -->
					<script>
						let platform = new H.service.Platform({
							'apikey': '<%= ENV['HERE_MAPS_API_KEY'] %>'
						});
									      
						// Obtain the default map types from the platform object:
						let defaultLayers = platform.createDefaultLayers();
					      
						// Instantiate (and display) a map object:
					    let map = new H.Map(
					    	document.getElementById('mapContainer'),
							defaultLayers.vector.normal.map,
				        	{
				            	zoom: 4,
				            	center: { lat: 39.83333, lng: -98.58333 }
				       		}
					    );
					    let svgMarkup = '<svg width="24" height="24" ' +
						    'xmlns="http://www.w3.org/2000/svg">' +
						    '<rect stroke="white" fill="#1b468d" x="1" y="1" width="22" ' +
						    'height="22" /><text x="12" y="18" font-size="12pt" ' +
						    'font-family="Arial" font-weight="bold" text-anchor="middle" ' +
						    'fill="white">H</text></svg>';
						let icon = new H.map.Icon(svgMarkup);
						let coordinates = [[47.6084921, -122.336407], [37.8249384, -122.2661749], [33.7490987, -84.3901849], [35.6877859, -80.8654534], [28.6553497, -81.3426916], [31.7660338, -102.6675575], [31.7660338, -108.6675575], [41.7488718, -87.640318], [40.6734692, -73.7591312], [38.8960553, -76.926679335]];
						let createdObjects = coordinates.map(coord => new H.map.Marker({lat: coord[0], lng: coord[1]}, {icon: icon}));
						createdObjects.forEach(element => map.addObject(element));
					</script>
	    		</div>
		   	</div>
		</div>
	</div>
</div>
