<h1> **ALERT** New Incident of Police Violence </h1> 
<p>We have <%= link_to 'another incident', @article %> to report today. <%= link_to @article.title, @article %> was killed today in <%= @article.city %>, <%= @article.state %> by law enforcement.</p>
<p>Thanks again for joining the EBWiki project. We are working to make sure that our community is kept apprised of these events as they occur and ultimately to work to end the callous disgregard for the lives of people of color.</p>
<p> Please feel free to add any data you have on this or <%= link_to 'other cases', 'http://ebwiki.org' %>.</p>
