<div class = "btn-group btn-group-justified">
	<% if user_signed_in? %>
		<% if current_user.following?(@this_case) %>
		  <%= button_to 'Unfollow', follows_case_path(@this_case), method: :delete, form_class: "btn case-btn", class: "case-btn", data: { confirm: "Are you sure you want to unfollow this case?" } %>
    <% else %>
    	<%= button_to 'Follow', follows_case_path(@this_case), form_class: "btn case-btn", class: "case-btn" %>
    <% end %>
		<%= button_to "Edit", edit_case_path(@this_case), method: :get, form_class: "btn case-btn", class: "case-btn", data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom",:title => "Something not right?",:content => "Click here to make changes to this case.  We're relying on folks like you to help us stay accurate!"} %>
	<% else %>
		<%= button_to 'Follow', follows_case_path(@this_case), form_class: "btn case-btn", class: "case-btn" %>
	<% end %>
	<%= button_to "History", cases_history_path(@this_case), method: :get, form_class: "btn case-btn", class: "case-btn", data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom",:title => "Track Changes",:content => "Click here to see all the past edits to this case."} %>
</div>
