<%= form_for @this_case do |f| %>
	<% if @this_case.errors.any? %>
		<div id="error_explanation">
      <h2><%= pluralize(@this_case.errors.count, "error") %> prohibited this case from being saved:</h2>
      <ul>
      <% @this_case.errors.each do |field,msg| %>
        <li style='list-style:none;'><strong><%= "#{field.capitalize}:" %></strong> <%= msg %></li>
      <% end %>
      </ul>
    </div>
	<% end %>

		<div class="cold-md-12">
		<fieldset class="fsStyle">
			<legend class="legendStyle">Basic Case Information, Media <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Basic Information and Media", :content => "This fieldset includes the incident date, a photo of the subject or the event as well as a link to a youtube video of the event. Editors should seek out images beyond mug shots where possible. Likewise, our preference is for videos of the actual events as recorded as they occurred vs news reports or other secondary sources, though we have included secondary sources in a few cases."})%></legend>
			<div>
				<%= f.text_field :title %>
				<% render 'shared/date_input' %>
				<% render 'image_uploader' %>
				<h4>Add a YouTube or Vimeo video url relating to the case:</h4>
				<%= f.text_field :video_url %>
				<h4>Cause of death:</h4>
				<%= f.collection_select :cause_of_death_id, @causes_of_death, :id, :name, {prompt: "Choose a cause of death."} %>
	    </div>
		</fieldset>
	</div>
<% end %>