<%= simple_form_for @this_case do |f| %>
  <% if @this_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@this_case.errors.count, "error") %> prohibited this case from being saved:</h2>
      <ul>
      	<% @this_case.errors.each do |field,msg| %>
        	<li><strong><%= "#{field.capitalize}:" %></strong> <%= msg %></li>
      	<% end %>
      </ul>
    </div>
  <% end %>

	<div class="cold-md-12">
		<fieldset class="fsStyle">
			<legend class="legendStyle">Basic Case Information, Media <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Basic Information and Media", :content => "This fieldset includes the incident date, a photo of the subject or the event as well as a link to a youtube video of the event. Editors should seek out images beyond mug shots where possible. Likewise, our preference is for videos of the actual events as recorded as they occurred vs news reports or other secondary sources, though we have included secondary sources in a few cases."})%></legend>
			<div>
				<%= f.input :title %>
				<%= f.input :date, as: :date_picker, :label => 'Date of Death', class: "datetimepicker" %>
				<% if params[:action] == "new" %>
				  <%= image_tag('default-user-icon.png', :size => "150x150", :class => "img-responsive") %>
					<%# <h4>Upload a new image to replace the placeholder:</h4> %>
				<% else %>
					<h4>Current image showing on the case page: </h4>
		      <% if @this_case.avatar? %>
			      <%= image_tag(@this_case.avatar.medium_avatar, :class => "img-responsive") %>
			      <%= f.check_box :remove_avatar, :label => 'Remove current image' %>
			    <% else %>
				    <%= image_tag('default-user-icon.png', :size => "150x150", :class => "img-responsive") %>
				  <% end %>
					<%# <h4>Upload a new image to replace current photo:</h4> %>
				<% end %>
		    <%# <%= f.file_field :avatar, :id => "lefile_article" %>
			  <%# <div class="input-append">
			    <input id="photoCover_article" class="input-large" type="text">
			    <a class="btn btn-warning" onclick="$('input[id=lefile_article]').click();">Browse</a>
			  </div> %>
				<h4>Add a YouTube or Vimeo video url relating to the case:</h4>
				<%= f.input :video_url %>
				<h4>Cause of death:</h4>
				<%= f.input :cause_of_death_name, collection: [:choking, :shooting, :beating, :taser, :vehicular, :medical_neglect, :response_to_medical_emergency, :suicide, :chemical_agents_or_weapons, :stabbing, :drowning], label: false, required: true %>
	    </div>
		</fieldset>
	</div>

	<div class="cold-md-12">
		<fieldset class="fsStyle">
			<legend class="legendStyle">Subjects Information <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Subject's Information", :content => "This is where you will add information about age, gender and other characteristics of the subject. Each case requires at least one subject."})%></legend>
			<div>
		    <%= f.simple_fields_for :subjects do |subject| %>
		      <%= render 'subject_fields', :f => subject %>
		    <% end %>
	    </div>
	    <div class="links">
	      <%= link_to_add_association 'Add a Subject', f, :subjects, :class => "btn btn-warning", id: 'add-fields' %>
	    </div>
		</fieldset>
	</div>

	<!-- fieldset collapse start -->
	<div class="cold-md-12">
		<fieldset class="fsStyle">
			<legend class="legendStyle">
      	<div data-toggle="collapse">Incident Location Info <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Incident Location Info", :content => "These fields relate to where the incident took place. Editors should be as specific as possible, approximating a street address and a zip code. City and State are required fields."})%></div>
			</legend>
			<%= f.input :address %>
			<%= f.input :city %>
			<%= f.collection_select :state_id, @states, :id, :name, {prompt: "State"}, label:"State" %>
			<%= f.input :zipcode %>
  	</fieldset>
	</div>

	<div class="cold-md-12">
		<fieldset class="fsStyle">
			<legend class="legendStyle">Main Content Fields <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Main Content Fields", :content => "These three fields constitute the body of the case and house most of the facts. The overview contains basic factual information, litigation includes facts relating to legal proceedings and investigation and community action encompasses information about family activity, protests and the like"})%></legend>
			<%= f.input :overview, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Basic'} } %>
			<%= f.input :litigation, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Basic'} } %>
			<%= f.input :community_action, :as => :ckeditor, :input_html => { :ckeditor => {:toolbar => 'Basic'} } %>
	  </fieldset>
	</div>

	<div class="cold-md-12">
	  <fieldset class="fsStyle">
	    <legend class="legendStyle">Enforcement Agencies Involved <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Agencies", :content => "Add law enforcement agencies involved here so we can grade their performance."})%></legend>
	    <div id="links">
	      <%= f.association :agencies, collection: @agencies, input_html: { multiple: true, class: 'select2'} %>
	    </div>

	    <% if params[:action] == "edit" %>
	      <small><%= link_to 'Add a new agency', new_agency_path %></small>
	    <% end %>
	  </fieldset>
	</div>

	<div class="cold-md-12">
		<fieldset class="fsStyle">
			<legend class="legendStyle">Links to Related Content <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Links", :content => "Links to external content and supporting material are critical. Whenever an editor creates or adds content to a case, he or she should provide at least one supporting link. Any html links included within the content section should also be added here."})%></legend>
			<div id="links" class="rel-links">
			    <%= f.simple_fields_for :links do |link| %>
			      <%= render 'link_fields', :f => link %>
			    <% end %>
		    <div class="links">
		      <%= link_to_add_association 'add a link', f, :links, :class => "btn btn-warning" %>
		    </div>
			</div>
		</fieldset>
	</div>

  <div class="cold-md-12">
    <fieldset class="fsStyle">
      <% @maximum_length = Case::MAX_BLURB_CHARACTERS %>
      <legend class="legendStyle">Blurb About Case <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover', :placement => "bottom", :title => "Blurb", :content => "A text-only summary of the case.  All HTML will automatically be stripped, and the field is limited to #{@maximum_length} characters or less"})%></legend>
      <%= f.input :blurb %>
      <span id='characters-left'> Characters left: <span id="counter" data-maximum-length="<%= @maximum_length %>"><%= @maximum_length %></span> </span>
    </fieldset>
  </div>

	<div class="cold-md-12">
	  <fieldset class="fsStyle">
	    <legend class="legendStyle">Summary of Changes to the Case <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Main Content Fields", :content => "Please summarize the edits you have made to this case.  These summaries populate the history tabs to make the history of the case more readable to users."})%></legend>
	    <%= f.input :summary, :input_html => { :value => nil }, value: nil  %>
	  </fieldset>
	</div>
	<br>

	<%# Change to proper btn-group once Bootstrap is removed %>
	<div class="form-submit pull-right" role="group" aria-label="Create or edit case">
		<%= f.button :submit, class: 'btn btn-success' %>

		<% if params[:action] == "edit" %>
	    <%= link_to 'Back to Case', case_path(@this_case), class: 'btn btn-primary back' %>
		<% else %>
	    <%= link_to 'Back to Home', root_path, class: 'btn btn-primary back' %>
		<% end %>
	</div>

<% end %>

<script type="text/javascript">
  function displayBlurbCharactersCount() {
    console.log("Set Blurb Char Count");

    var input_field = $("#case_blurb");
    var counter_element = $("#characters-left");
    var counter = $("#counter");
    var maximum_length = counter.data("maximum-length");
    var current_length = maximum_length - input_field.val().length;

    counter.text(current_length);
    (current_length < 50) ? counter_element.addClass('danger') : counter_element.removeClass('danger');
  }

  $(document).ready(function() {
    $('#case_agency_ids').select2();
    $('.datetimepicker').datetimepicker();
    $('input[id=lefile_article]').change(function() {
      $('#photoCover_article').val(_.last($(this).val().split("\\")));
    });

    displayBlurbCharactersCount();
    $("#case_blurb").keyup(function() {
      displayBlurbCharactersCount();
    });
  });

</script>
