<% if @this_case.overview.present? %>
  <h4 class="article_subheader">Summary  <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "The basics", :content => "This section attempts to encapsulate the basic facts of the case."})%></h4>
	<p><%= sanitize @this_case.overview %></p>
<% end %>
<% if @this_case.litigation.present? %>
  <h4 class="article_subheader">Legal Action  <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Case Proceedings", :content => "This section outlines the legal steps that have occurred in the case, answering questions about administrative actions and more formal charges."})%></h4>
	<p><%= sanitize @this_case.litigation %></p>
<% end %>
<% if @this_case.community_action.present? %>
  <h4 class="article_subheader">Community and Family Efforts  <%= image_tag('help_icon.png', data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom", :title => "Community Action", :content => "This section outlines the response of the local community and the victim's family."})%></h4>
	<p><%= sanitize @this_case.community_action %></p>
<% end %>