<!-- Since this is the homepage,the meta tag information for this page is set as the default values. -->

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <h2 class="page-header">These <span class="orange-font"><%= @total_cases %></span> people were killed by police.<br>We track their cases here.</h2>
      <h4 class="page-subheader">
        <%= link_to "What next?", "https://www.surveymonkey.com/r/5RSWFNY", data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom",:title => "What's next for EBWiki?",:content => "Click here to help us decide on a few features we are thinking of adding to EBWiki!"} %>-- <%= link_to 'More about us...',about_path %></h4>
      <div id='front-gallery'>
        <%= render partial: 'thumbnail', layout: "index_thumbnail", collection: @cases, as: :this_case %>
      </div>
      <%= paginate @cases %>
      <p><%= page_entries_info @cases %></p>
    </div>
    <div class="col-md-3">
      <div id='front-sidebar'>
        <h4 class='side-leader'>Recently Updated</h4>
        <table class='table leader-list'>
          <tr>
            <th>Case</th>
            <th>Updated</th>
          </tr>

          <% @recently_updated_cases.each do |this_case| %>
            <tr>
              <td><%= link_to_case_title(this_case, 25) %></td>
              <td><small><%= display_updated_at(this_case) %></small></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
