<!-- Meta Tag Information -->
<% content_for :meta_title, "#{@this_case.title} - #{@this_case.city} on EBWiki" %>
<% content_for :meta_description, "#{@this_case.blurb}" %>
<% content_for :meta_keywords, "#{@this_case.subjects.first.name} police violence people color" %>

<!-- Page Content -->
<div class="container">

<!-- Portfolio Item Heading -->
  <div class="row">
  </div>
  <!-- /.row -->

  <!-- Portfolio Item Row -->
  <div class="row">
    <div class="col-md-3">
      <% if @this_case.avatar? %>
        <%= image_tag(@this_case.avatar.large_avatar, :class => "img-responsive articleImage") %>
      <% else %>
        <%= image_tag('default-user-icon.png', :size => "250x250", :class => "img-responsive articleImage") %>
      <% end %>

      <div class="">
        <%= social_share_button_tag("Take a look at what I just found on EBWiki:") %>
      </div>
      <div class="row case-btns">
        <%= render 'button_group' %>
      </div>
      <%= render "comments/add_comment_form" %>
      <div class="commentList" >
        <%= render "comments/comments" %>
      </div>
    </div>

    <div class="col-md-9">
      <h1 class="page-header case-title"><%= @subjects.first.name %>, <%= @subjects.first.age ? "#{@subjects.first.age}" : "" %>
      <br>
          <small><%= @this_case.city %>, <%= @this_case.state.name %></small>
      <br/><small><%= @this_case.date.to_s(:long) %></small>
          <% if @this_case.agencies.present? %>
            <p>Agencies:
              <% @this_case.agencies.each_with_index do |agency, index| %>
                <%= link_to agency.name, agency_path(agency) %>
                <% unless index == @this_case.agencies.size - 1 %>
                  <%= "|" %>
                <% end %>
              <% end %>
            </p>
          <% end %>
          <div>
            <% if current_user %>
              <% if current_user.following?(@this_case) %>
              <% else %>
                <%= link_to 'Follow This Case', follows_case_path(@this_case), method: :post, class: "btn-lg btn-primary text-center", data: { toggle: 'popover', container: 'body', trigger: 'hover', placement: 'bottom', content: 'Click here to receive an email whenever this case is updated.' } %>
              <% end %>
            <% else %>
              <%= link_to 'Follow This Case', follows_case_path(@this_case), method: :post, class: "btn-lg btn-primary text-center", data: { toggle: 'popover', container: 'body', trigger: 'hover', placement: 'bottom', title: 'Login to Follow this case!', content: 'Click here to receive an email whenever this case is updated.' } %>
            <% end %>
          </div>
      </h1>
      <p class="timeAgo">Last updated: <span class="time-ago-label" datetime="<%= @this_case.updated_at %>"></span></p>
        <% if @this_case.followers.present? %>
          <p>
            <%= link_to 'People tracking this case', cases_followers_path(@this_case) %>: <span class="timeAgo"><%= @this_case.followers.count %></span>
              <% unless @this_case.followers.include?(current_user) %>
                -- Click here to <%= link_to 'Track this', follows_case_path(@this_case), :method => :post %>.
              <% end %>
          </p>
        <% end %>
        <%= render 'main_content' %>
      <div class="row">
        <div class="col-md-12">
          <% if @this_case.video_url? %>
            <div class="embed-container">
                <%= embed(@this_case.video_url) %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" >
          <% if @this_case.links.count > 0 %>
            <h4 class="article_subheader">Additional Resources:</h4>
            <ul class="background-links" id="link-list">
              <% @this_case.links.each do |link| %>
                <li>
                  <%= link_to link.url, "#{link.url}", target: '_blank' %> <span class="timeAgo">added <%= link.created_at.to_s(:long) %></span>
                </li>
              <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- /.row -->

<script type="text/javascript">
  $(document).ready(function(){
      $('[data-toggle="popover"]').popover();
  });
</script>
<script type="text/javascript">
  if($('ul#link-list').children().length > 10) {
    $(document).ready(function(){
      var more = $('<li class="more btn btn-xs btn-default"><a href="">Show more</a></li>');
      var less = $('<li class="less btn btn-xs btn-default" ><a href="">Show less</a></li>');

      $('ul#link-list').children('li:gt(10)').hide();
      $('ul#link-list').append(more);

      $('body').on('click','.more',function(e){
          e.preventDefault();
          $(this).remove();
          $('ul#link-list').children().show();
          $('ul#link-list').append(less);
          return false;
      });

      $('body').on('click','.less',function(e){
          e.preventDefault();
          $(this).remove();
          $('ul#link-list').children('li:gt(10)').hide();
          $('ul#link-list').append(more);
          return false;
      });
    });
  }
</script>
