<%= simple_form_for @user do |f| %>
  <%= f.input :name, disabled: true %>
  <%= f.input :email, disabled: true %>
  <%= f.input :description, disabled: true, label: 'Bio' %>
  <br>
  <h5>Check this box to receive our weekly newsletter with updates on these cases and other news:</h5>
  <%= f.input :subscribed, disabled: true, inline_label: "Subscribe" %>
  <br>
  <h5>Site Admin:</h5>
  <%= f.input :admin, inline_label: "Yes" %>
  <div class ="btn-group submit">
    <%= f.button :submit, class: 'btn btn-success' %>
  </div>
<% end %>