<div class="container">
  <section class="userAvatar">
    <div class="row">
      <div class="col-md-2">
        <%= image_tag avatar_url(@user,200),  class: "img-rounded img-responsive" %>
        <%= @user.name, length:16 %>
        <br>
        Last seen at <%= l(@user.last_sign_in_at, format: "%-d.%m.%Y %H:%M:%S") %>
        <br>
        <br>
        <% if @user == current_user %>
          <%= link_to 'Edit Profile', edit_user_path(current_user), :class => "btn btn-success" %></a>
          <div class="panel panel-default mailFoldershort">
            <div class="panel-body">
              Your Mailboxes:
              <%= render 'mailbox/folders' %>
            </div>
          </div>
        <% else %>
          <%= link_to "Send a Message", new_conversation_path, class: "btn btn-success" %>
        <% end %>
        <br /><br/>
      </div>
      <div class="col-md-10">
        <div class="alert alert-info">
          <h2></h2>
          <h4><%= "#{@user.name}'s bio:" %></h4>
          <p><%= @user.description %></p>
        </div>
        <% if @user != current_user %>
          <h3 class="page-header">Cases <%= @user.name %> follows:</h3>
        <% else %>
          <h3 class="page-header">
            <% if @cases.size.zero? %>
              Please take 30 seconds and <%= link_to 'pick a case', root_path %> that you want to track and click the follow button. We'll take it from there to keep you informed.
            <% else %>
              <h3 class="page-header">Cases we are tracking for you:</h3>
            <% end %>
          </h3>
        <% end %>
        <%= render partial: 'cases/thumbnail', layout: 'cases/show_thumbnail', collection: @cases, as: :this_case %>
      </div>
    </div>
<!-- ROW END -->
  </section>
  <!-- SECTION END -->
</div>
<!-- CONATINER END -->