<p id="notice"><%= notice %></p>

<p class="text-center event-details">
  <strong>Title:</strong>
  <%= @calendar_event.title %>
</p>

<p class="text-center event-details">
  <strong>Description:</strong>
  <%= @calendar_event.description %>
</p>

<p class="text-center event-details">
  <strong>Event Owner:</strong>
  <%= link_to @event_owner.name, user_path(@event_owner) %>
</p>

<p class="text-center event-details">
  <strong>Start time:</strong>
  <%= @calendar_event.start_time %>
</p>

<p class="text-center event-details">
  <strong>End time:</strong>
  <%= @calendar_event.end_time %>
</p>


<%= link_to 'Edit', 
                edit_calendar_event_path(@calendar_event), 
                class: 'btn btn-default',
                remote: true %> | 
<%= link_to 'Delete', 
                @calendar_event, 
                method: :delete, 
                class: 'btn btn-default', 
                data: { confirm: 'Are you sure?' }, 
                remote: true unless @calendar_event.new_record? %> | 
<%= link_to 'Back', 
                calendar_events_path,
                class: 'btn btn-default' %>
