<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @calendar_event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @calendar_event.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @calendar_event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @calendar_event.end_time %>
</p>


<%= link_to 'Edit', edit_calendar_event_path(@calendar_event), remote: true %> |
<%= link_to 'Back', calendar_events_path %> | 
<%= link_to 'Delete', 
                @calendar_event, 
                method: :delete, 
                class: 'btn btn-default', 
                data: { confirm: 'Are you sure?' }, 
                remote: true unless @calendar_event.new_record? %>
