<div class='date-input'>
	<%= label_tag nil, 'Date of Incident' %>
	<div class='date-field'>
		<%= label_tag 'date[]', 'Month' %>
		<%= text_field_tag 'date[]' %>
	</div>
	<div class='date-field'>
		<%= label_tag 'date[]', 'Day' %>
		<%= text_field_tag 'date[]' %>
	</div>
	<div class='date-field'>
		<%= label_tag 'date[]', 'Year' %>
		<%= text_field_tag 'date[]' %>
	</div>
</div>