<%= simple_form_for(@agency) do |f| %>
  <%#= f.error_notification %>
  
  <% if @agency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@agency.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
      <% @agency.errors.each do |field,msg| %>
        <li style='list-style:none;'><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :street_address %>
    <%= f.input :city %>
    <%= f.collection_select :state_id, State.all, :id, :name, {prompt: "State"}, label:"State" %>
    <%= f.input :zipcode %>
    <%= f.input :description %>
    <%= f.input :jurisdiction, collection: Agency::Jurisdiction.map(&:name) %>
    <%= f.input :telephone %>
    <%= f.input :email %>
    <%= f.input :website %>
    <%= f.input :lead_officer %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>