<p id="notice"><%= notice %></p>

<h1>Agencies</h1>

<table class='table leader-list'>
  <tr>
    <th>Agency</th>
    <th>Updated</th>
    <th></th>
  </tr>

  <% @agencies.each do |agency| %>
    <tr>
      <td><%= link_to_name(agency) %></td>
      <td><small><%= object_updated_at(agency) %></small></td>
      <td><%= link_to_edit(agency) %></td>
    </tr>
  <% end %>
 </table>

<br>

<%= link_to 'Add a New Agency', new_agency_path %>
