<!-- Meta Tag Information -->
<% content_for :meta_title, "EBWiki is tracking the #{@agency.name}" %>
<% content_for :meta_description, "EBWiki is following the involvement of the #{@agency.name} in killings of people of color." %>
<% content_for :meta_keywords, "#{@agency.name} police violence people color" %>

<span  class="page-header caseTitle">
  <h1 class="page-header caseTitle"><%= @agency.name %></h1>
  <h4><%= @agency.street_address %></h4>
  <h4><%= @agency.city %>, <%= @agency_state %> <%= @agency.zipcode %></h4>
</span>

<p>
  <%= "Jurisdiction: #{ t("agency.jurisdiction.#{@agency.jurisdiction}") }" %>
</p>

<p>
  <%= show_non_blank_fields "Telephone", @agency.telephone %>
</p>

<p>
  <%= show_non_blank_fields "Email", @agency.email %>
</p>

<p>
  <%= show_non_blank_fields "Website", @agency.website %>
</p>

<%= link_to 'Back', session[:previous_url], :class => "btn-default" %>
<%= link_to 'Edit', edit_agency_path(@agency), :class => "btn-warning" %>

<!-- Related Cases Row -->
<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header">EBWiki is tracking <%= pluralize(@cases.size, "case")%> involving the <%= @agency.name %>:</h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <%= render partial: 'cases/thumbnail', layout: 'cases/show_thumbnail', collection: @cases, as: :this_case %>
  </div>
</div>

<%= link_to 'Back', session[:previous_url] %>
