<% meta title: "EBWiki is tracking the #{@agency.name}",
     description: "EBWiki is following the involvement of the #{@agency.name} in killings of people of color.",
     keywords: %w("@agency.name police violence people color African-American Latino")
%>

<span  class="page-header articleTitle">
  <h1 class="page-header articleTitle"><%= @agency.name %></h1>
  <h4> <%= @agency.full_address %> </h4>
</span>

<p>
  <%= show_non_blank_fields "Type", @agency.jurisdiction.capitalize %>
</p>

<p>
  <%= show_non_blank_fields "Department Head", @agency.lead_officer %>
</p>

<p>
  <%= show_non_blank_fields "Telephone", @agency.telephone %>
</p>

<p>
  <%= show_non_blank_fields "Email", @agency.email %>
</p>

<p>
  <% if @agency.website.present? %>
     Website: <%= link_to @agency.website, @agency.website %>
  <% end %>
</p>

<p>
  <%= show_non_blank_fields "Notes", @agency.description %>
</p>
<%= link_to 'Back', session[:previous_url], :class => "btn-default" %>
<%= link_to 'Edit', edit_agency_path(@agency), :class => "btn-warning" %>

<!-- Related Projects Row -->
<div class="row">
  <div class="col-lg-12">
    <h3 class="page-header">EBWiki is tracking <%= @agency.articles.size %> case<%= "s" if @agency.articles.size > 1 %> involving the <%= @agency.name %>:</h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <% @agency.articles.each do |article| %>
      <div class="col-lg-2 col-md-4 col-xs-12">
        <div class="view view-first">
          <% if article.avatar? %>
            <%= link_to image_tag(article.avatar.large_avatar, :class => "img-responsive"), article %>
          <% else %>
            <div class="thumbnail text-center">
              <%= link_to image_tag("default-user-icon.png", :class => "img-responsive"), article %>
              <div class="caption">
                <h4><%= article.title %></h4>
              </div>
            </div>
          <% end %>
          <div class="mask">
            <h2><%= link_to article.title, article, :class => "info2" %></h2>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'Back', session[:previous_url] %>