<%= simple_form_for(@document) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.file_field :attachment %>
  </div>

  </br>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
