<h1>About EBWiki:</h1>
<h3>Our Mission:</h3>
<p>EBWiki is singularly devoted to providing subjects, their families and their communities the tools to end the abuse and indiscriminant killing by the police of African Americans and other people of color.  The primary means by which EBWiki will engage in this endeavor is by building EBWiki.com, a crowdsourced information platform that allows families and community organizations to review past cases as they progress in real time and to access and share information across geographies</p>

<p>While we recognize the need for quality policing and the need for them to be able to defend themselves, reviewing the police killings involving Michael Brown, Trayvon Martin and the many other less publicized cases, it is clear that we have a problem in this country when it comes to the relationship between law enforcement and citizens of color.</p>

<p>In the most egregious of these cases, especially where there is irrefutable, public documentation of police abuses in the form of video or audio recordings, we have often seen protests, violence and a spate of news stories. However, usually within a few weeks of the incident, public interest fatigues and the story fades from public discourse. That is, until the next video or recording surfaces and the process repeats itself. At EBWiki, we believe strongly after decades of observing it, this pattern will not correct itself. It will repeat until someone stops it.</p>

<h3>Others Who Inspire us:</h3>
<p>At EBWiki, we believe the first essential step in addressing this issue is to inventory the problem by gathering data about the number of people affected by police abuse, statistics on race, gender, class and geography. We look with admiration on the work being done in this regard by:
	<ul>
	  <li><%= link_to 'ACLU', "http://aclu.org" %></li>
	  <li><%= link_to 'Colorofchange.org', "http://colorofchange.org/" %></li>
	  <li><%= link_to 'The Counted Project by the Guardian', "http://www.theguardian.com/us-news/ng-interactive/2015/jun/01/the-counted-police-killings-us-database#" %></li>
	  <li><%= link_to 'Fatalencounters.org', "http://www.fatalencounters.org/" %></li>
	  <li><%= link_to 'Killedbycops', "http://www.killedbycops.org/" %></li>
	  <li><%= link_to 'Killedbypolice.net', "http://killedbypolice.net/" %></li>
	  <li><%= link_to 'Mappingpoliceviolence.org', "http://mappingpoliceviolence.org/" %></li>
	  <li><%= link_to 'TheRoot.com', "http://www.theroot.com/" %></li>
	</ul>
and others.  
</p>

<p>We believe these resources, by consolidating the raw data and applying statistics to the body of cases to determine the patterns of abuse of law enforcement powers across this country, will be invaluable in the ongoing work to eradicate this behavior.</p>

<h3>EBWiki’s Mission:</h3>

<p>We believe EBWiki’s contribution will be additive to what these others have done.  In addition to its primary focus on the impact of police abuses on people of color, EBWiki takes a slightly different approach in tracking these cases. We look at each incident as just the beginning of a potentially years-long process that will exceed our collective attention span if we allow it to.  We want to follow these events as they proceed, tracking community organization responses, litigation procedures as well as looking longitudinally at what happens to the players over time. Questions like, “Was there an indictment or conviction?”, “where is the officer in question working now?” and “What related indignities have whistleblowers endured?” are some of the questions we want to follow and report on. </p>

<p>We look at a case like the one involving the shooting of two unarmed homeless people by Cleveland Police Officer Scott Brelo as an example where EBWiki could have helped. In that case, after a car chase of the two victims, Officer Brelo stood on the hood of their parked car and emptied 15 rounds through their windshield riddling both of their bodies with bullets and ensuring their death. Yet despite being indicted, Officer Brelo was found innocent two years later in a directed verdict announced quietly on a holiday weekend. We believe that EBWiki’s researchers shining a light on these legal proceedings as they are happening will lead to more equitable results.</p>

<p>Likewise, by tracking the activity of community groups and families in these cases as they occur across America, we believe we can facilitate sharing of key information that will allow these groups and families to learn from each other’s experiences and improve their collective responses to these events when they occur.</p>

<p>Perhaps most importantly and succinctly stated, our ultimate goal is  to extend the lives of subjects beyond the two-week attention span of the mainstream media to enable us to organize a collective response politically or otherwise.</p>

<h3>How You Can Help:</h3>

<p>Volunteer editors and researchers do all the work of compiling and editing the data on you see on this site. <%= link_to 'Guidelines for Volunteer Editors', guidelines_path %>.
We rely on donations to fund our hosting, and other technology requirements. Please contact us at blackopswiki1@gmail.com, if you want to help with a donation.
</p>