 <h1>Guidelines for contributing to EBWiki:</h1>
 <p>Before beginning to contribute, however, please read these brief guidelines guidelines, as well as our about page. Depending on an case's demonstrated susceptibility to vandalism, according to its visibility or the degree of controversy surrounding the topic, the edit button may not be shown for all users. (Vandals are reported via email to blackopswiki1@gmail.com and may be temporarily blocked from editing EBWiki.)<br>

Most cases start as stubs, but after many contributions, they can become featured cases. In addition to research a case and writing an case themselves, users can write to us and request that we find out information on cases that we do not have listed.<br>

Above all, it is important to understand that in contributing to EBWiki, users are expected to be civil and factual, respecting all points of view, and only add verifiable and factual information rather than personal views and opinions. Verification includes cases, news stories and original documents. You can add as many links as you like to support your edits and additions.</p>
 <h2>Cases:</h2>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#addcase">
        Adding a case</a>
      </h4>
    </div>
    <div id="addcase" class="panel-collapse collapse in">
      <div class="panel-body">
      <p>To add a new case:</p>
        <ol>
          <li>Login with an email and password</li><br>
          <p><%= image_tag("login.png", :alt => "login") %><br>If you have not signed up, click sign up at the top right corner of the header or the link below log in button, fill the form and click "SIGN UP" Button to submit 
          <%= image_tag("signup.png", :alt => "sign up") %></p>
          <li>Click the “Add a New Case" Button in the Top right corner of the header. </li><br>
          <%= image_tag("addcase.png", :alt => "Add case") %>
          <li>Enter content in the fields as indicated (Date, Victim Name and State)</li><br>
          <%= image_tag("newcase.png", :alt => "New case Form") %>
          <%= image_tag("caseform.png", :alt => "Case Form") %> <br>                                          <li>Ensure all required fields are filled, click‘CREATE CASE' to submit </li>
          <%= image_tag("createcase.png", :alt => "Create Case") %>
        </ol>  
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#editcase">
        Editing a case</a>
      </h4>
    </div>
    <div id="editcase" class="panel-collapse collapse">
      <div class="panel-body">
      <p>To edit existing case, login and view an case. Click on the Edit button beneath the image and you will be taken to the data entry form similar to the one for entering new data.Edit the entries and click "UPDATE CASE" To submit.<br>
      <%= image_tag("editcase.png", :alt => "Edit Case") %></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#followunfollowcase">
        Following and Unfollowing a case</a>
      </h4>
    </div>
    <div id="followunfollowcase" class="panel-collapse collapse">
      <div class="panel-body">
        <p>To follow existing case, login and view an case. This will display page similar to editing a case. Click on the Follow button beneath the image to follow a case(when this button is clicked, it changes to “Unfollow”).<br>
        To unfollow existing case, view an case from your profile and click Unfollow button.<br>
        Once one follows a case, the case is displayed on the user profile as shown:
        <%= image_tag("profile.png", :alt => "User profile") %>
         </p>
      </div>
    </div>
  </div>
</div>

<h2>Agencies:</h2>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#addagency">
        Adding An Agency</a>
      </h4>
    </div>
    <div id="addagency" class="panel-collapse collapse">
      <div class="panel-body">
      <p>content coming soon</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#updateagency">
        Updating An Agency</a>
      </h4>
    </div>
    <div id="updateagency" class="panel-collapse collapse">
      <div class="panel-body">
        <p> content coming soon
         </p>
      </div>
    </div>
  </div>
</div>  
  