<tr>
  <td><%= organization.name %></td>
  <td><%= organization.description %></td>
  <td><%= organization.website %></td>
  <td><%= organization.telephone %></td>
  <td><%= organization.avatar %></td>
  <td><%= link_to 'Show', organization %></td>
  <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
</tr>
