<!-- Meta Tag Information -->
<% content_for :meta_title, "#{@organization.name} on EBWiki" %>
<% content_for :meta_description, "#{@this_case.description}" %>
<% content_for :meta_keywords, "#{organization.name} police violence people color" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organization.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @organization.website %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @organization.telephone %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @organization.avatar %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
