<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('EBWikiLogo.png', size: "90x23"), root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%= render "search/bar" %>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%= link_to "Add a New Case", new_case_path, data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom",:title => "Did we miss a case?",:content => "Click here to add a new case. Please use the search field to the left to make sure we don't already have it."} %>
          </li>
          <li>
            <%= link_to 'Get our newsletter', ENV['MAILCHIMP_LINK'] %>
          </li>
        <% end %>
        <li class="dropdown">
          <% if user_signed_in? %>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= "#{current_user.email}" %><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <%if signed_in? && current_user.admin? %>
                <li><%= link_to "Admin", rails_admin.dashboard_path %></li>
              <% end %>
              <li> <%= link_to "Profile", user_path(current_user) %></li>
              <li> <%= link_to "View Inbox", mailbox_inbox_path %></li>
              <li> <%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
            </ul>
          <% else %>
            <li> <%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
