<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "BlackOpsWiki", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
	      <%if signed_in? && @current_user.admin? %>      
			  <%= link_to "Admin", rails_admin.dashboard_path %>
		  <% end %>
		</li>
      </ul>
		<%= form_tag articles_path, method: :get do %>
        <div class="navbar-form navbar-left">
          <%= select_tag(:state_id, options_from_collection_for_select(State.all, :id, :name), include_blank: true, data: {placeholder: "Filter By State"}, id: "select2", class: 'form-control') %>
        </div>
        <div class="navbar-form navbar-left">
          <%= text_field_tag :query, params[:query], class: 'form-control', data: { list: State.all.map(&:name) } , placeholder: 'Enter keywords...' %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
        </div>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if user_signed_in? %>
	        <%= link_to "Add a New Case", new_article_path, data: {:toggle => 'popover', :container => 'body', :trigger => 'hover',:placement => "bottom",:title => "Did we miss a case?",:content => "Click here to add a new case. Please use the search field to the left to make sure we don't already have it."} %>
	      <% end %>
	    </li>
        <li class="dropdown">
			<% if user_signed_in? %>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= "#{@current_user.email}" %><span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li> <%= link_to "View Profile Page", user_path(current_user) %></li> 
          <li> <%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
        </ul>
			<% else %>
			  <li> <%= link_to "Login", new_user_session_path %></li>
			  <li><%= link_to "Sign Up", new_user_registration_path %></li>
			<% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
