<div class = "nav navbar navbar-default navbar-fixed-top">
	<div class="container">
		<%= link_to "BlackOpsWiki", root_path, class: "navbar-brand" %>
		<%= form_tag articles_path, method: :get do %>
          <div class="navbar-form navbar-left">
            <%= text_field_tag :query, params[:query], class: 'input-group', data: { list: State.all.map(&:name) } , placeholder: 'Enter keywords to search...' %>
          </div>
          <div class="navbar-form navbar-left">
            <%= submit_tag "Search", class: "btn btn-primary" %>
          </div>
        <% end %>
		<ul class="nav navbar-nav navbar-right">
			<% if user_signed_in? %>
				<li> <%= link_to "Add an Article", new_article_path %></li>
				<li> <%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
			<% else %>
				<li> <%= link_to "Login", new_user_session_path %></li><li><%= link_to "Sign Up", new_user_registration_path %></li>
			<% end %>
		</ul>
	</div>
</div>