<!DOCTYPE html>
<html>
	<head>
		<!-- Sets default title & meta tags throughout the site. Can be overridden with
		     meta tag values in individual templates. -->
	  <meta name=viewport content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="iwi5tloB23ci2pitnPbdAtLzceG4NW8Gps7H1unD504" />
	  <%= metamagic title: "EBWiki - Ending Violence Against People of Color", description: "EBWiki is a new web application working to harness the power of community to end bias in law enforcement that has led to disparate treatment of people of color with tragic results.",	keywords: %w("police killing abuse") %>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application',  'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'markerclusterer' %>
    <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
	  <%= csrf_meta_tags %>
  	  <!--  google maps -->
  	  <script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>

 	  <!-- Google Analytics -->
  	  <script>
  	          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  	          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  	          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  	          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  	          ga('create', 'UA-32848364-7', 'auto');
  	          ga('send', 'pageview');
  	  </script>

	</head>
	<body>
		<div class="container">
		  <% flash.each do |key, value| %>
		    <div class="alert alert-<%= key %>">
		      <button type="button" class="close" data-dismiss="alert">&times;</button>
		      <%= value.html_safe %>
		    </div>
		  <% end %>
		</div>
		<div class="container fixed">
			<%= render 'layouts/header' %>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<%= yield %>
				</div>
				<!-- <div class="col-md-4">
					<ul class="list-group">
						<%= link_to "Show All Articles", root_path %>
						<% Category.all.each do |category| %>
							<li><%= link_to category.name, articles_path(category: category.name), class: "list-group-item" %></li>
						<% end %>
					</ul>
				</div> -->
			</div>
		</div>
		<div class="container fixed">
			<%= render 'layouts/footer' %>
		</div>
	</body>
</html>
