<!DOCTYPE html>
<html lang="en">
  <head>
    <%# These elements must come first to consistently ensure proper document rendering. %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <meta name="keywords" content="<%= meta_keywords %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application',  'data-turbolinks-track' => true %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <%= csrf_meta_tags %>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','<%= ENV["GOOGLE_TAG_MANAGER_ID"] %>');</script>
    <!-- End Google Tag Manager -->

    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js" async></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js" async></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-clustering.js" async></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" async></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" async></script>
    <script type="text/javascript" async>window.ENV_VARIABLE = 'https://<%= request.host %>'</script>
    <script type="text/javascript" src='https://developer.here.com/javascript/src/iframeheight.js' async></script>
    <script type="text/javascript" async>window.API_KEY="<%= ENV['HERE_MAPS_API_KEY'] %>"</script>
    <%= render 'application/favicon' %>

    <meta name="cf-2fa-verify" content="2y1jaIA9tjJ9xyHE">
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= ENV["GOOGLE_TAG_MANAGER_ID"] %>"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container">
      <% flash.to_hash.except(:undo, :redo).each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= (value.is_a?(Array)) ? ""  : value %>
        </div>
      <% end %>
    </div>
    <div class="container fixed">
      <%= render 'layouts/header' %>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <%= yield %>
        </div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
