<!DOCTYPE html>
<html>
<head>
  <title>Blackops</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<%= yield %>
<ul>
	<%= link_to "Show All Articles", root_path %>
	<% Category.all.each do |category| %>
		<li><%= link_to category.name, articles_path(category: category.name) %></li>
	<% end %>
</ul>
</body>
</html>
